{% load static %}

<section id="experiences-section" class="experiences-section section">
    <h2 class="section-title">PROFESSIONAL EXPERIENCE</h2>
    <div class="timeline">
        <div class="item">
            <div class="work-place">
                <h3 class="place"><b>System Engineer - Infosys Ltd. </b></h3>
                <div class="location"><i class="fa fa-map-marker" aria-hidden="true"></i>Pune, Maharashtra</div>
            </div>
            <div class="job-meta">
                <div class="title">System Engineer</div>
                <div class="time">July 2018 - December 2018</div>
            </div><!--//job-meta-->
            <div class="job-desc">
                <!-- <p>As an Associate Trainee I've been given training on Adobe Expereience Manager(AEM) and Site Core:</p> -->
                <ul>
                    <li> Worked as a feature developer in AssistEdge Robotic Process Automation which is an end-to-end service for building and implementing RPA. My responsibilities included gathering client requirements, understand it and based on the understanding, design and develop the process which is eﬃcient, scalable and reliable. </li>
                    <li> Acquired complete end to end understanding of Robotic Process Automation and diﬀerent components of product. Analyzed inputs and gain complete functional clarity on the product, including hands-on experience in technologies like .NET framework, SQL. Impact analysis, coding, and testing of features that needs to be incorporated into production code. </li>
                </ul>
            </div><!--//job-desc-->
        </div><!--//item-->

        <div class="item">
            <div class="work-place">
                <p>
                    <h3 class="place"><b>Software Engineering Intern - Infosys Ltd.</b></h3>
                </p>
                <div class="location">
                    <i class="fa fa-map-marker" aria-hidden="true"></i>Mysore, Karnataka</div>
            </div>
            <div class="job-meta">
                <div class="title">Software Engineering Intern</div>
                <div class="time">Jan, 2018 - June,2018</div>
            </div>
            <!--//job-meta-->
            <div class="job-desc">
                <ul>
                    <li>
                        Received professional training in Python, DBMS, ASP.Net, MVC and Entity Framework and later in a group of six, developed an MVC application as a final Project called TrackSkills which was Employees’ Skill Management System web application. The application provided a secure platform for managers, employees and test admin of a company that eases the manager’s task of keeping track of employee’s skills, helping them to search and allocate employees based on their acquired skillsets.
                    </li>
                    <li>
                        Designed database in MS SQL Server by creating Tables, Stored Procedures, Functions, Views and Triggers and integrating them in the application. Handled version control of application using Git.  • Acquired a solid understanding of designing and developing a web-based application in the .NET framework from scratch.
                    </li>
                    <li>
                        Gained knowledge of full-stack development of an application including front-end development, REST APIs and Databases. • Acquired knowledge about the complete software development life cycle (SDLC) & scrum agile methodology. Handled daily standup meetings, analyzed the processes and practices of my intern team. Successfully completed the project within a strict deadline of two months.
                    </li>
                </ul>
                <!-- <p>Technologies and Language used:</p>
                <ul>
                    <li>Android</li>
                    <li>Firebase</li>
                    <li>SqlLite</li>
                    <li>Java</li>
                    <li>Xml</li>
                    
                </ul> -->
            </div>
            <!--//job-desc-->
        </div><!--//item-->

       

    </div><!--//timeline-->

</section><!--//section-->