{% load static %}

<section id="contact-section" class="contact-section section">
    <h2 class="section-title">Get in Touch</h2>
    <div class="intro">
        <img class="profile-image" src="{% static 'images/HarshViraniProfilePhoto2.jpg' %}" alt="Harsh's profile image">
        <div class="dialog">
            <p>Computer Science graduate student with experience as a Software Engineer seeking Internship for Summer 2020 and full time oppurtunities from December 2020; having keen interest in field of Data Science, Machine Learning and AI Goal Oriented and Quickly adaptable to new technologies.</p>
            <!-- <ul class="list-unstyled service-list">
                <li><i class="fa fa-check" aria-hidden="true"></i> Back-end development with Django/Python,PHP</li>
                <li><i class="fa fa-check" aria-hidden="true"></i> Front-end development with HTML5 , CSS , JS,Angular JS </li>
                <li><i class="fa fa-check" aria-hidden="true"></i> Android Application development</li>
                <li><i class="fa fa-check" aria-hidden="true"></i> Web applications</li>
                <li><i class="fa fa-check" aria-hidden="true"></i> Publishing Webites on Servers </li>
                <li><i class="fa fa-check" aria-hidden="true"></i>Uploading Your Code To GIthub</li>
            </ul> -->
            <p>Drop me a mail at <a href="mailto:hvirani@asu.edu">hvirani@asu.edu</a> or call me at <a href="tel:+14804657258">+1 480-465-7258.</a></p>
            <ul class="social list-inline">
                <li><a href="https://www.linkedin.com/in/harshvirani/"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                <!-- <li><a href="https://twitter.com/ViraniHarsh"><i class="fa fa-twitter" aria-hidden="true"></i></a></li> -->
                <!-- <li><a href="https://aboutme.google.com/u/0/?referer=gplus"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li> -->
                <li><a href="https://github.com/harvi7"><i class="fa fa-github-alt" aria-hidden="true"></i></a></li>
                <li class="email"><a href="hvirani@asu.edu"><i class="fa fa-envelope" aria-hidden="true"></i></a></li>
            </ul><!--//social-->
        </div><!--//diaplog-->
    </div><!--//intro-->

</section><!--//section-->