{% load static %}

<header class="header">
    <div class="top-bar container-fluid">
        <ul class="social list-inline">
            <li><a href="https://www.linkedin.com/in/harshvirani/"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
            </li>
            <li><a href="https://github.com/harvi7"><i class="fa fa-github-alt" aria-hidden="true"></i></a></li>
        </ul>
    </div>

    <div class="intro">
        <div class="container text-center">
            <img class="profile-image" src="{% static 'images/HarshViraniProfilePhoto2.jpg' %}"
                alt="Harsh's profile image">
            <h1 class="name">Harsh Virani</h1>
            <div class="title">Computer Science Graduate Student at ASU</div>
            <div class="profile">
                <p>Computer Science graduate student with experience as a System Engineer seeking co-op opportunities in
                    Spring 2020 and Internship opportunities for Summer 2020; Skilled in Full Stack Web Development;
                    Goal Oriented and Quickly adaptable to new technologies.</p>
            </div>
        </div>
    </div>

    <div class="contact-info">
        <div class="container text-center">
            <ul class="list-inline">
                <li class="email"><i class="fa fa-envelope"></i><a href="mailto:hvirani@asu.edu">hvirani@asu.edu</a>
                </li>
                <li><i class="fa fa-phone"></i> <a href="tel: +507-6788-8134">+1 480-465-7258</a></li>
            </ul>
        </div>
    </div>

    <div class="page-nav-space-holder hidden-xs">
        <div id="page-nav-wrapper" class="page-nav-wrapper text-center">
            <div class="container">
                <ul id="page-nav" class="nav page-nav list-inline">
                    <li><a class="scrollto" href="#experiences-section">Experiences</a></li>
                    <li><a class="scrollto" href="#education-section">Education</a></li>
                    <li><a class="scrollto" href="#skills-section">Skills</a></li>
                    <li><a class="scrollto" href="#portfolio-section">Projects</a></li>
                    <li><a class="scrollto" href="#contact-section">Contact</a></li>
                </ul>
            </div>
        </div>
    </div>

</header>