{% load static %}

<script type="text/javascript" src="{% static 'plugins/jquery-1.12.4.min.js' %}"></script>
<script type="text/javascript" src="{% static 'plugins/bootstrap/js/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'plugins/back-to-top.js' %}"></script>
<script type="text/javascript" src="{% static 'plugins/jquery-scrollTo/jquery.scrollTo.min.js' %}"></script>
<script type="text/javascript" src="{% static 'plugins/easy-pie-chart/src/easypiechart.js' %}"></script>
<script type="text/javascript" src="{% static 'plugins/easy-pie-chart/src/jquery.plugin.js' %}"></script>
<script type="text/javascript" src="{% static 'plugins/easy-pie-chart/src/renderer/canvas.js' %}"></script>
<script type="text/javascript" src="{% static 'plugins/imagesloaded.pkgd.min.js' %}"></script>
<script type="text/javascript" src="{% static 'plugins/isotope.pkgd.min.js' %}"></script>

<script type="text/javascript" src="{% static 'js/main.js' %}"></script>